/* -- Basic Styling -- */

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: no-repeat fixed  center;
    background-size: cover;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    
}
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time {
    text-align: center;
    font-size: 3rem;
    font: bold;
}

#weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: 0;
}
.weather-temperature {
    margin: 0;
    margin-left: -10px;
}

.weather-city {
    margin: 0;
    text-align: right;
    margin-top: -10px;
}
.top {
    display: flex;
    justify-content: space-between;
}
